* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  border: 2px solid rgb(13, 13, 83);
  border-radius: 20px;
  background: #ffffff;
}
h1 {
  margin-top: 15px;
}
.line {
  background: #afc3bd;
  height: 8px;
  border-radius: 10px;
  width: calc(100% - 20%);
  margin: 15px 0;
}

input[type="text"] {
  height: 30px;
  width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 5px;
  padding: 5px;
  background: #0000006e;
  color: lightblue;
}
.input-text,
.magic-text,
.cypher-text {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #7aebc9;
  display: flex;
  width: 400px;
}
.magic-text,
.cypher-text {
  justify-content: space-evenly;
}
label {
  width: 90px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}

button {
  padding: 6px 30px;
  background: #3a4f50;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(38, 35, 35, 0.525);
  border-radius: 5px;
}

