@import url('https: //fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

body{
    height: 100vh;
    width: 100vw;

    background: rgb(60, 51, 119);
    color: white;
}

h1{
    text-align: center;
    margin: 50px auto;
    font-size: 3rem;
}

.boxes{
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
}

.reveal-btn{
    margin: auto;
    /* width: 90%; */
    /* height: 0%; */
}

.hidden-content{
    display: none;
}